[Unit]
Description=NextHubX Service helps to launch the core.
After=network-online.target nftables.service iptables.service

[Service]
Type=simple
ExecStart={exec_start}
Group={group}
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
